        <!-- include header -->
            <%- include('include/_header') %>
        <!-- /include header -->

        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Chinedu
                        <span class="text-primary">Opiaobodo</span>
                    </h1>
                    <div class="subheading mb-5">
                        123 confidential Street · Ekiti State, (+234) 806-2369-xxx ·
                        <a href="chi.adams@gmail.com">chi.adams@gmail.com</a>
                    </div>
                    <p class="lead mb-5"> I am experienced in the use of web-related technologies for both front-end and back-end development. These technologies include and not limited to HTML5, CSS3, Bootstrap, Javascript & Jquery, PHP, Laravel, Code-igniter, WordPress, Joomla. I have also work with and maintain Laravel Application effectively</p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/chinedu-opiaobodo-b117b9217" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/chidd" target="_blank"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://twitter.com/chinedu_opia_" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="https://www.facebook.com/chi.adams target="_blank""><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Software Developer</h3>
                            <div class="subheading mb-3">GeekICT</div>
                            <ul>
                                <li>Utilized php frameworks (cakephp, codeigniter and Laravel) for web application development</li>
                                <li>Developed website with payment gateway integration (Webpay, paystack, flutterwave and paypal</li>
                                <li>System Networking and configuration during softwaredeployment</li>
                                <li>Website design and implementation using html, css, php, bootstrap, Js, Ajax, MySQL, 
                                vuejs</li>
                                <li>Responsible for developing, Servicing and maintaining clients’ application software</li>
                                <li>Developed a computer-based test system.</li>
                                <li>Developed a payroll system.</li>
                                <li>Responsible for taking clients requirements and transforming them into software</li>
                                <li>Developed several clients website</li>
                                <li>Built an e-commerce website for a US based beauty hair and beauty products retailer 
                                integrated with paypal payment option</li>
                                <li>Built both front-end and backend interface for all client application</li>
                                <li>Built a copy of wordpress blogging platform using Laravel</li>
                                <li>Developed and responsible for maintaining a student portal application (geekPortal) with result 
                                management, school fees payment, staff management, subject allocations, cbt, bursary 
                                management, attendance management, etc. currently used by several institution.</li>
                                <li>Responsible for Testing, reviewing and redesigning websites to make sure it meets up with 
                                recent web standards, search engine optimized, user-friendly etc.</li>
                                <li> Responsible for database restructuring for easy data migration from old version of student 
                                portal application to the latest version built on entirely different technology</li>
                                <li>Responsible for taking client's complaints and effecting changes in the software</li>
                            </ul>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">March 2015 - Present</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">ICT Officer</h3>
                            <div class="subheading mb-3">Skylinks ICT</div>
                            <ul>
                                <li>Worked as IT manager and software developer</li>
                                <li>Developed a dstv monthly subscription renewal application</li>
                                using C#, .Net, SQL server</li>
                                <li>Installed Closed Circuit Television (CCTV) for clients</li> 
                                <li>Serviced IT contracts</li>
                            </ul>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">November 2013 - January 2015</span></div>
                    </div>
                    
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Big Data University</h3>
                            <div class="subheading mb-3">IBM initiative</div>
                            <div>DS0101EN - Data Science</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary"> 2016</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">University of Benin</h3>
                            <div class="subheading mb-3">Bachelor of Science</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2007 - 2011</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                        <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                        <li class="list-inline-item"><i class="fab fa-react"></i></li>
                        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                        <li class="list-inline-item"><i class="fab fa-php"></i></li>
                        <li class="list-inline-item"><i class="fab fa-laravel"></i></li>
                        <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                        <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
                        <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                    </ul>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            C#, PHP, Python, Javascript, Laravel
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            SQL server, MySQL, Oracle
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            html, css, Javascript, Bootstrap, jQuery, Ajax,vuejs
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Paypal, WebPay, Paystack, Flutterwave 
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Laravel, codeigniter
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p>Apart from being a web developer, I enjoy most of my time learning, programming and playing console games</p>
                    <p class="mb-0">I follow a number of action, drama and epic genre movies and television shows, I spend a large amount of my free time exploring the latest technology advancements in both front-end and back-end web development world.</p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="contact">
                <div class="resume-section-content">
                    <h2 class="mb-5">Get in touch</h2>
                    <div class="col-lg-6">
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Full name</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- subject number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="subject" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="subject">Subject</label>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Message</label>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
        
        <!-- include footer -->
            <%- include('include/_footer') %>
        <!-- /include footer -->