        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted"><img class="img-fluid zuri" src="assets/img/zuri.png" alt="..."  /><a href="https://internship.zuri.team/" target="_blank" style="text-decoration: none;"> &nbsp; <span class="pt-3">INTERSHIP - 2021</span></a></div></div>
        </footer>
<!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/assets/js/app.js"></script>
    </body>
</html>
